@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #red;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-4xl;
  @apply mb-4 mt-6;
}

h2 {
  @apply text-2xl;
  @apply mb-3 mt-5;
}
p {
  @apply text-base leading-relaxed mb-4 mt-2; /* Comfortable line-height for readability */
}

.page-gutter {
  @apply px-4 md:px-8 lg:px-12 py-4; /* Adjust padding as needed for different breakpoints */
}